/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 400.0;
*
* available axes:

* 'wght' (range from 100.0 to 900.0)

*/

@font-face {
    font-family: 'Switzer-Variable';
    src: url('../assets/fonts/Switzer/Switzer-Variable.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}


/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 400.0;
*
* available axes:

* 'wght' (range from 100.0 to 900.0)

*/

@font-face {
    font-family: 'Switzer-VariableItalic';
    src: url('../assets/fonts/Switzer/Switzer-VariableItalic.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Switzer-Thin';
    src: url('../assets/fonts/Switzer/Switzer-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Switzer-ThinItalic';
    src: url('../assets/fonts/Switzer/Switzer-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Switzer-Extralight';
    src: url('../assets/fonts/Switzer/Switzer-Extralight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Switzer-ExtralightItalic';
    src: url('../assets/fonts/Switzer/Switzer-ExtralightItalic.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Switzer-Light';
    src: url('../assets/fonts/Switzer/Switzer-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Switzer-LightItalic';
    src: url('../assets/fonts/Switzer/Switzer-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Switzer-Regular';
    src: url('../assets/fonts/Switzer/Switzer-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Switzer-Italic';
    src: url('../assets/fonts/Switzer/Switzer-Italic.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Switzer-Medium';
    src: url('../assets/fonts/Switzer/Switzer-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Switzer-MediumItalic';
    src: url('../assets/fonts/Switzer/Switzer-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Switzer-Semibold';
    src: url('../assets/fonts/Switzer/Switzer-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Switzer-SemiboldItalic';
    src: url('../assets/fonts/Switzer/Switzer-SemiboldItalic.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Switzer-Bold';
    src: url('../assets/fonts/Switzer/Switzer-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Switzer-BoldItalic';
    src: url('../assets/fonts/Switzer/Switzer-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Switzer-Extrabold';
    src: url('../assets/fonts/Switzer/Switzer-Extrabold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Switzer-ExtraboldItalic';
    src: url('../assets/fonts/Switzer/Switzer-ExtraboldItalic.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Switzer-Black';
    src: url('../assets/fonts/Switzer/Switzer-Black.woff2') format('woff2');

    font-weight: 900;
    font-display: swap;
    font-style: normal;
}